    <!-- Replicating this a tag with "*ngFor" -->
    <a href="#" class="list-group-item clearfix" (click)="onSelected()">
      <div class="float-left">
        <!-- Receiving data from recipe list comp -->
        <h4 class="list-goup-item-heading">{{ recipe.name }}</h4>
        <p class="list-group-item-text">{{ recipe.description }}</p>
      </div>
      <span class="float-right">
        <img class="img-responsive" src="{{ recipe.imgPath }}" alt="" style="max-height: 60px;">
      </span>
    </a>
